@import "tailwindcss";

@plugin "daisyui" {
  themes: all; /* Habilita todos los temas */
}

@plugin "daisyui/theme" {
  name: "gryffindor";
  default: true; /* Tema por defecto */
  
  --color-base-100: oklch(24% 0.15 28);
  --color-base-200: #FFC500;
  --color-base-300: oklch(78% 0.18 90);
  --color-base-content: oklch(98% 0 0);

  --color-primary: oklch(40% 0.21 28);
  --color-primary-content: oklch(10% 0 0);

  --color-secondary: oklch(78% 0.18 90);
  --color-secondary-content: oklch(10% 0 0);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(98% 0 0);

  --color-neutral: oklch(15% 0.02 30);
  --color-neutral-content: oklch(98% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "slytherin";

  --color-base-100: oklch(25% 0.05 145);
  --color-base-200: #5D5D5D;
  --color-base-300: oklch(45% 0 0);
  --color-base-content: oklch(98% 0 0);

  --color-primary: oklch(35% 0.07 145);
  --color-primary-content: oklch(10% 0 0);

  --color-secondary: oklch(45% 0 0);
  --color-secondary-content: oklch(98% 0 0);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(98% 0 0);

  --color-neutral: oklch(15% 0.02 145);
  --color-neutral-content: oklch(98% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "ravenclaw";

  --color-base-100: oklch(20% 0.05 270);
  --color-base-200: #946b2d;
  --color-base-300: oklch(65% 0.1 70);
  --color-base-content: oklch(98% 0 0);

  --color-primary: oklch(30% 0.06 270);
  --color-primary-content: oklch(10% 0 0);

  --color-secondary: oklch(65% 0.1 70);
  --color-secondary-content: oklch(10% 0 0);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(98% 0 0);

  --color-neutral: oklch(15% 0.02 270);
  --color-neutral-content: oklch(98% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "hufflepuff";

  --color-base-100: #EEB935; /* Amarillo */
  --color-base-200: black; /* Amarillo claro */
  --color-base-300: oklch(45% 0 0);      /* Gris Hufflepuff */
  --color-base-content: oklch(10% 0 0);  /* Negro */

  --color-primary: oklch(94% 0.13 100);
  --color-primary-content: oklch(10% 0 0);

  --color-secondary: oklch(45% 0 0);
  --color-secondary-content: oklch(98% 0 0);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(98% 0 0);

  --color-neutral: oklch(15% 0.02 60);
  --color-neutral-content: oklch(98% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
